<div class="list_entry {statusclass}">
    <div class="leftest">
        <div><img src="file:///{image}" class="cover"/></div>
        <div class="id">{id}</div>
    </div>
    <div class="left">
        <!-- <div class="id">{id}</div> -->
        <div>
            <span class="title">{title}</span>
        </div>
        <div class="description">{desc}</div>
        <div class="tags">{tags}</div>
    </div>
    <div class="right">
        <div class="semitag score">{score}<!--  <div class="maxscore">/ 10</div> --></div>
        <div class="semitag epcount">{progress}<span class="faded"> / {maxeps}</span></div>
        <div class="semitag type">{type}</div>
        <div class="semitag rating">{rating}</div>
    </div>
</div>